services:
  jupyter:
    build: .
    labels:
      - "com.docker.compose.project.namespace=colab"
    volumes:
      - ./environment:/opt/venv
    networks:
      - colab

networks:
  colab:
    external: true